<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoyalBLog</title>
<style>


body{
    background-color: #f4f4f4;
    font-family: 'Arial', Serif;
    margin: 7px;
    overflow-x: hidden;
}


</style>
</head>
<body>
    <div id="main">
        <h1>Contact</h1>
        <p>You can reach us at:</p>
        <ul>
            <li><b>Twitter: </b><a href="okeziejeremiah@twitter.com">okeziejeremiah</a></li>
            <li><b>Whatsapp: </b><a href="whatsapp.com">+2349137478479</a></li>
            <li><b>Slak: </b><a href="slak.com">Jeremiah</a></li>
            <li><b>Facebook: </b><a href="facebook.com">Jeremiah Okezie</a></li>
        </ul>
        <p>Go back to check other views</p>
    </div>
</body>
</html>

