<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoyalBLog</title>
<style>


body{
    background-color: #f4f4f4;
    font-family: 'Arial', Serif;
    margin: 7px;
    overflow-x: hidden;
}


</style>
</head>
<body>
    
    <div>
        <h1>RoyalBLog Services</h1>
        <p>We provide you with latest and trending topics on the internet by name.</p>
        <p>Go back to check other views</p>
    </div>
</body>
</html>

